/*	TURQUESA #00A7BC
	AZUL #175AA0
	AMARILLO #ECB81D
	NARANJA #ED7E26
	ROSA #DA0E6C

	pantalla 1440*900
*/

@import url('https://fonts.cdnfonts.com/css/dinpro-bold');
    
body{	
	
	font-family: 'DIN-Regular', sans-serif !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333 !important;
	background-color: #fff;
}

a {

	color: #000 !important;
}



label {

	font-weight: bold;
}

path {

	fill: #e6e6e6;

	stroke: #fff;

	stroke-width: 1px;
}

legend, label, select {

	color: #175AA0 !important;
}

#mapaDeFormosa line {

	stroke: #fff;

	stroke-width: 1px;

	opacity: 0.8;

	stroke-linecap: round;
}

#mapaDeFormosa rect {

	fill:#78b7ce;

	opacity: 0.6;
}

#mapaDeFormosa text {

	fill:#fff;

	font-size:15px ;
}

form {

	border-radius: 30px !important;
}

form label, select {

	color: #175AA0 !important;
}

form select {

	border: 2px solid #175AA0 !important;
}

form button {

	border-radius: 20px !important;

	width: 110px;
}




.icono path{

	stroke: #000 !important;

	stroke-width: 0.60px;
}

.botonDeFormulario {

	color: #fff !important;

	background-color: #175AA0 !important;

}


.t_fuente{
	font-size: 50px;
	text-align: left;
	width: 800px;
	text-shadow: -2px 2px 0px #000;
}

.barraDeInicio li:hover {

	border-radius: 5px;
	background-color: #003667;

}

.icono {

	width: 18px;
	height:18px;
	
}

.colorDeFondoDeBarraDeNavegacion {

	background-color: #e1e1e1 !important;

}

.sombraDeCaja {

	border-radius: 7px;
	
	-webkit-box-shadow: 0px -1px 10px -3px rgba(89,89,89,1);
	-moz-box-shadow: 0px -1px 10px -3px rgba(89,89,89,1);
	box-shadow: 0px -1px 10px -3px rgba(89,89,89,1);

}

.eliminarBordesDeTarjeta {

	border: 0px;
}

.encabezadoDeTarjeta{

	color: #fff !important;
	background-color: #175AA0 !important;
	border-bottom: 1px solid #000;
	font-size: 16px;
}

.cuerpoDeTarjetaDePresentacion {

	background-color: #fff !important;

	color: #175AA0;

}

.numerosEnTarjeta {

	font-size: 30px;

	font-weight: bold;

	color: #DA0E6C !important;

}

.textoEnCuerpoDeTarjeta {

	font-size: 14px;

	color: #DA0E6C !important;
}

.pieDeTrjeta {

	font-size: 20px;

	color: #fff;
}

.formularioMostrarPanelesDeDatos {

	height: 100px; 

	width: 310px;

}

.cajaDeInputsDeFormulario {

	background-color: #e9ecef !important;

	height: 40px; 

	width: 310px;

}

.textoEnTarjetaDeVariables	{

	font-weight: bold;

	font-size: 18px;


}

.imagenesEnTarjeta {

	width: 250px;

	height: 250px;
}

.seleccionado {

	fill: #78b7ce;
}

.imagenDeNoticia {

	height: 400px;

	width: 500px;
}

.titulo2 {

	color: #fff;
}

.encabezadoDeAcordeon {

	background-color: #175AA0;
}

.botonDeEncabezadoDeAcordeon {

	background-color: #175AA0 !important;

	color: #fff !important;

}

.cuerpoDeAcordeon {

	background-color: #fff !important;

	color: #175AA0 !important;

	border: 2px solid #175AA0;

}

.itemDeAcordeon {

	border:0px;

}

.flecha1 {

	color: #fff;
}

.flecha2 {

	color: #175AA0;

}

.flecha:hover {

	color: #DA0E6C !important;
}



#barraDeNavegacionDeInicio {

	background-color:#175AA0 !important; 
}

#barraDeNavegacionDeInicio li a{

	color: #fff !important;

	font-size: 22px !important;

}

#barraDeNavegacionDeInicio li:hover {

	background-color: #fff; 

	border-radius: 20px;
}

#barraDeNavegacionDeInicio li a:hover {
	color: #175AA0 !important;

	font-weight: bold;


}

#barraDeNavegacionDeInicio svg path {

	fill: #fff;

	stroke-width: 0.4px;

	stroke: #fff !important;
}

#barraDeNavegacionDeInicio svg path:hover {

	fill: #175AA0 !important;

	stroke-width: 0.4px;

	stroke: #175AA0 !important;
}

#contenedorPresentacion, #contenedorNoticias, #diaMundialDeLaEstadistica {

	height: 900px !important;

}

#contenedorFormularioVariablesEconomicas {

	height: 450px !important;
}

#contenedorConceptosDeProgramasDeLaDPE {

	height: 180px;
}

#mapaDeFormosa path:hover {

	fill: #78b7ce;
}


#mapaDeArgentina {

	background-color: #f2f2f2;
}

#formVariablesEconomicas {

	height: 130px;

}

/*#BuenosAires, #Cordoba, #LaPampa, #RioNegro, #SantaFe {

	fill: #020e10;
}

#Catamarca, #EntreRios {

	fill: #0e8194;
}

#Chaco, #Jujuy, #Neuquen {

	fill: #cff3f6;
}

#Chubut, #Corrientes, #SantiagoDelEstero {

	fill: #052b31;
}

#CapitalFederal, #Formosa {

	fill: #64cedf;
}

#LaRioja, #Salta, #Tucuman {

	fill: #0b6473;
}

#Mendoza, #SanJuan {

	fill: #1cb6cf;
}

#Misiones, #SanLuis, #TierraDelFuego {

	fill: #abe7ee;
}

#SantaCruz {

	fill: #f3fffe;
}*/

#contenedorSomos, #contenedorHome, #contenedorInformes {

	display: none;
}

#formularioCenso {

	background-color: #fff;
}

#carruselInformesMensuales {

	height: 400px;
}


#gradienteDeBarra stop {

	stop-color: #808080;
}

#signoDePorcentajeDeLaBarra, #maximoValorDeBarra, #minimoValorDeBarra, #lineaSuperiorDeBarraDePorcentaje, #lineaInferiorDeBarraDePorcentaje {

	fill: #020e10;
}

@media (max-width: 360px) {
  
  #somos a{

  	color: red !important;
  }

  #membreteEstadistica{

  	height: 50px;

  	width: 330px !important;
  }

}

@media (max-width: 375px) {
  /* … */
}

@media (max-width: 720px) {
  /* … */
}

@media (max-width: 1366px) {
  /* … */
}

@media (max-width: 1440px) {
  /* … */
}

@media (max-width: 1920px) {
  /* … */
}
