
@import url('https://fonts.cdnfonts.com/css/dinpro-bold');
    
body{ 
  /*background-color:  #4db8ff !important;*/

  font-family: 'DIN-Regular', sans-serif !important;

  font-size: 14px;

  line-height: 1.42857143;

  color: #333 !important;

  background-color: #fff;

}

h4 {
  color: #175AA0;
}

label {

  font-weight: bold;
}

legend, label, select {

  color: #175AA0 !important;
}

form {

  border-radius: 20px !important;

  background-color: #fff;

}

form select {

  border: 2px solid #175AA0 !important;
}

form button {

  border-radius: 15px !important;

}

path {

  fill: #e6e6e6;

  stroke: #fff;

  stroke-width: 1px;

}

.tituloCarrusel {

  color: #fff !important;

}

.encabezadoDeTarjeta{

  color: #fff !important;

  background-color: #175AA0 !important;

  border-bottom: 1px solid #000;

}

.tarjeta {

  border: 0px;

  border-radius: 7px;
  
  -webkit-box-shadow: 0px -1px 10px -3px rgba(89,89,89,1);
  -moz-box-shadow: 0px -1px 10px -3px rgba(89,89,89,1);
  box-shadow: 0px -1px 10px -3px rgba(89,89,89,1);

}

.sombraDeCaja {

  border-radius: 7px;
  
  -webkit-box-shadow: 0px -1px 10px -3px rgba(89,89,89,1);
  -moz-box-shadow: 0px -1px 10px -3px rgba(89,89,89,1);
  box-shadow: 0px -1px 10px -3px rgba(89,89,89,1);

}

.numerosEnTarjeta {

  font-weight: bold;

  color: #175AA0 !important;

}

.textoEnCuerpoDeTarjeta {

  color: #175AA0 !important;

  line-height: 1.2;
}

.pieDeTarjeta {

  border-top:1px solid;

  color: #175AA0; 

}

.titulo1 {

  color: #175AA0;

}

.titulo2 {

  color: #fff;

}

.tarjetaNoticia {

  border: 0px;

  background-color: transparent; 

  color: #fff;

}

.botonAtajos {

  background-color:#175AA0;

  color: #fff; 

  border-radius: 30px;

}

.botonAtajos:hover {

  background-color: #fff;

  color: #175AA0;

  border: 1px solid #175AA0;

}

.cuerpoDeTarjetaDePresentacion {

  background-color: #fff !important;

  color: #175AA0;

}

.encabezadoDeAcordeon {

  background-color: #175AA0 !important;
}

.botonDeEncabezadoDeAcordeon {

  background-color: #175AA0 !important;

  color: #fff !important;

}

.cuerpoDeAcordeon {

  background-color: #fff !important;

  color: #175AA0 !important;

  border: 2px solid #175AA0;

}

.itemDeAcordeon {

  border:0px;

}

.elementosAMostrar {

  display: none;
}

.botonDeFormulario {

  color: #fff !important;

  background-color: #175AA0 !important;

}

.flecha1 {

  color: #fff;
}

.flecha2 {

  color: #175AA0;

}

.flecha:hover {

  color: #DA0E6C !important;
}

.parrafoInforme, .parrafoInformeAnual {

  color: #fff;
}

.seleccionado {

  fill: #78b7ce;
}

.nombreDeDepartamento {

  fill:#175AA0 !important;

  font-weight: bold !important;

  cursor: pointer;

} 

.enlaceDatosDeCenso { 

  color: #175AA0 !important;

}

 #iconoHome :hover {

  stroke: #175AA0;

 }

#barraDeNavegacionDeInicio {

    background-color: #175AA0 !important;

}

#barraDeNavegacionDeInicio li a{

    color: #fff !important;

}

#barraDeNavegacionDeInicio li a:hover{

    color: #175AA0 !important;

    background-color: #fff !important;

}

#barraDeNavegacionDeInicio li svg{

    fill: #fff !important;

}

#barraDeNavegacionDeInicio li svg:hover{

    fill: #175AA0 !important;

}

#contenedorVariablesEconomicas {

  background-image: url("../imagenes/bañado de la estrella.jpg");

  background-size: cover;

}

#contenedorNoticias {

  background-color:#175AA0 !important;

}

#contenedorDiaMundialDeLaEstadistica {

  background-color:#00A7BC; 

  color: #fff; 

  background-image: url('../imagenes/bañado de la estrella.jpg'); 

  background-size: cover;

}


#tituloMostrarDatosDeVariablesEconomicas {

  color: #175AA0;

}

#botonMostrarVariablesEconomicas, #botonMostrarPanelDeDatos {

  border-radius: 20px;

}

#contenedorFormularioVariablesEconomicas {

  background-image: url('../imagenes/estacion de servicio.jpg'); 

  background-size: cover; 

}

#tituloFormularioVariablesEconomicas {

  color: #fff;
}

#contenedorDeMapaYGraficoDeVariablesEconomicas {

  background-image: url('../imagenes/palacio de la intendencia.jpg'); 

  background-size: cover; 

}

#contenedorCenso {

  background-image: url('../imagenes/bañado de la estrella.jpg');

  background-size: cover;

}

#mapaDeFormosa path {

  cursor: pointer !important;
}

#mapaDeFormosa line {

    stroke: #fff;

    stroke-width: 1px;

    opacity: 0.8;

    stroke-linecap: round;
  }

  #mapaDeFormosa rect {

    fill:#78b7ce;

    opacity: 0.6;
  }

  #mapaDeFormosa text {

    fill:#fff;

  }

@media only screen and (min-width: 360px) and (max-width: 374px) {

 #membreteEncabezado {

  height: 4vh;  /*25px;*/

 }

 #iconoHome {

  height: 2.5vh;

 }

 .fuenteLinkBarraDeInicio {

    font-size: 1.1em !important;

  }

 #carruselInicio {

    /*height: 503px;*/height: 91vh;
 }

 #carruselItem1 {

  background-size: cover;

  background-image: url('../imagenes/size-360x640/carrusel-360x640/carrusel-1-360x640.jpg');

 }

 #carruselItem2 {

  background-size: cover;

  background-image: url('../imagenes/size-360x640/carrusel-360x640/carrusel-2-360x640.jpg');

 }

 #carruselItem3 {

  background-size: cover;

  background-image: url('../imagenes/size-360x640/carrusel-360x640/carrusel-3-360x640.jpg');

 }

  .membreteCarrusel {

    height: 4vh;
 }

 .tituloCarrusel {

    font-size: 1.4em;

 }

 .cajaTituloCarrusel {

   margin-top: 90%;

 }

 #contenedorVariablesEconomicas {

    padding-top: 5%;

    padding-bottom: 9%;

  }

  .tarjeta {

    height: 37vh;

    width: 55%;

  }

  #contenedorBotones {

    padding-top: 2vh;

    padding-bottom: 4vh;

  }
  
  .botonAtajos {

    width: 80vw;

    height: 13vh;

  }

  #contenedorDiaMundialDeLaEstadistica {

    padding-top: 5vh;

    padding-bottom: 3vh;

  }

  #imagenDiaMundialDeLaEstadistica {

    height: 30vh;

    margin-left: 3.7vh;
    
  }

  #botonMostrarVariablesEconomicas, #botonMostrarPanelDeDatos {

    width: 80vw;

    padding-bottom: 1vh;

 }

  .imagenVariableEconomica {

    width: 80vw;
  }

  #contenedorFormularioVariablesEconomicas {

    padding-top: 15%;

    padding-bottom: 22%;

  }

  #formVariablesEconomicas {

    padding-top: 3%;

    padding-bottom: 11%;

 }

  /*---------------*/

  #contenedorDeMapaYGraficoDeVariablesEconomicas {

    padding-top: 15%;

    padding-bottom: 3%;

  }

  #mapaDeArgentina {

    height: 75vh;

    margin-left: 0%;

  }

  #contenedorLienzoDeMapa {

      display: none;
  }

  #portadaDeInformeSeleccionado {

    height: 30vh;

    margin-top: 5%;

    margin-left: 25%;

  }

  .iconoDeDescarga {

    width: 10%;

  }

  #botonDescargarInformeSeleccionado {

    width: 37vw;

    margin-left: 24%;

  }

  .parrafoInforme {

    margin-left: 24%;

    line-height: 20%;
  }

/*--------------------------*/
  .imagenInformeMensual {

    height: 25vh;
  }

  .parrafoInformeAnual {

    line-height: 20%;

    margin-left: 31%;

    font-size: 1rem;

  }

  #botonDescargarInformeMensual {

    width: 17vh;

    margin-left: 31%;

    font-size: 0.9rem;

  }

  .iconoDeDescargaInformeMensual {

    width: 13%;

  }

  /*-----------------------------------------------------*/

  #contenedorCenso {

    padding-top: 7%;

    padding-bottom: 5%;

  }

  #contenedorFormularioCenso {

    width: 90vw;

  }

  .tarjetaCenso {

    height: 35vh;

    width: 50vw;

  }

  #mapaDeFormosa {

    height: 49vh;
    
  }

}/* fin @media (max-width: 360px) */



@media only screen and (min-width: 375px) and (max-width: 719px) {
  /* … */

  #membreteEncabezado {

    height: 4vh; /*25px;*/

  }

 #iconoHome {

  height: 2.5vh;

 }

 .fuenteLinkBarraDeInicio {

    font-size: 1.3em !important;

  }

 #carruselInicio {

    /*height: 530px;*/height: 91vh;
 }

 #carruselItem1 {

  background-size: cover;

  background-image: url('../imagenes/size-360x640/carrusel-360x640/carrusel-1-360x640.jpg');

 }

 #carruselItem2 {

  background-size: cover;

  background-image: url('../imagenes/size-360x640/carrusel-360x640/carrusel-2-360x640.jpg');

 }

 #carruselItem3 {

  background-size: cover;

  background-image: url('../imagenes/size-360x640/carrusel-360x640/carrusel-3-360x640.jpg');

 }

 .membreteCarrusel {

    height: 4vh;
 }

 .tituloCarrusel {

    font-size: 1.4em;

 }

 .cajaTituloCarrusel {

    margin-top: 90%;

 }

 #contenedorVariablesEconomicas {

    padding-top: 5%;

    padding-bottom: 7%;

  }

  .tarjeta {

    height: 37vh;

    width: 55%;
  }

  #contenedorBotones {

    padding-top: 2vh;

    padding-bottom: 4vh;

  }
  
  .botonAtajos {

    width: 80vw;

    height: 13vh;

  }

  #contenedorDiaMundialDeLaEstadistica {

    padding-top: 5vh;

    padding-bottom: 3vh;

  }

  #imagenDiaMundialDeLaEstadistica {

    height: 30vh;

    margin-left: 4vh;
    
  }

  #botonMostrarVariablesEconomicas, #botonMostrarPanelDeDatos {

    width: 80vw;

    padding-bottom: 1vh;

  }

  .imagenVariableEconomica {

    width: 80vw;
  }

  #contenedorFormularioVariablesEconomicas {

    padding-top: 15%;

    padding-bottom: 22%;

  }

  #formVariablesEconomicas {

    padding-top: 3%;

    padding-bottom: 11%;

 }

  /*---------------*/

  #contenedorDeMapaYGraficoDeVariablesEconomicas {

    padding-top: 20%;

    padding-bottom: 3%;

  }

  #mapaDeArgentina {

    height: 75vh;

    margin-left: 0%;

  }

  #contenedorLienzoDeMapa {

      display: none;

  }

  #portadaDeInformeSeleccionado {

    height: 30vh;

    margin-top: 4%;

    margin-left: 25%;

  }

  .iconoDeDescarga {

    width: 8%;

  }

  #botonDescargarInformeSeleccionado {

    width: 37vw;

    margin-left: 24%;

  }

  .parrafoInforme {

    line-height: 20%;

    margin-left: 24%;

  }

/*--------------------------*/
  .imagenInformeMensual {

    height: 25vh;
  }

  .parrafoInformeAnual {

    line-height: 20%;

    margin-left: 31%;

    font-size: 1rem;

  }

  #botonDescargarInformeMensual {

    width: 17vh;

    margin-left: 31%;

    font-size: 0.9rem;

  }

  .iconoDeDescargaInformeMensual {

    width: 13%;
  }

  /*-----------------------------------------------------*/

  #contenedorCenso {

    padding-top: 7%;

    padding-bottom: 5%;

  }

  #contenedorFormularioCenso {

    width: 90vw;

  }

  .tarjetaCenso {

    height: 35vh;

    width: 50vw;

  }

  #mapaDeFormosa {

    height: 49vh;
    
  }

}/* fin @media (max-width: 375px) */



@media only screen and (min-width: 720px) and (max-width: 1365px) {
  /* … */

  #membreteEncabezado {

    height: 4vh; /*40px;*/

  }

  #iconoHome {

    height: 2vh;

  }

  .fuenteLinkBarraDeInicio {

    font-size: 1.5em !important;

  }

 #carruselInicio {

    /*height: 1067px;*/height: 91vh;
 }

 #carruselItem1 {

  background-size: cover;

  background-image: url('../imagenes/size-720x1280/carrusel-720x1280/carrusel-1-720x1280.jpg');

 }

 #carruselItem2 {

  background-size: cover;

  background-image: url('../imagenes/size-720x1280/carrusel-720x1280/carrusel-2-720x1280.jpg');

 }

 #carruselItem3 {

  background-size: cover;

  background-image: url('../imagenes/size-720x1280/carrusel-720x1280/carrusel-3-720x1280.jpg');

 }

 .membreteCarrusel {

    height: 3vh;
 }

 .tituloCarrusel {

    font-size: 2.5em;

 }

 .cajaTituloCarrusel {

    margin-top: 90%;

 }

  #contenedorVariablesEconomicas {

    padding-top: 5%;

    padding-bottom: 7%;

  }

  .tarjeta {

    height: 20vh;

    width: 30%;
  }

  #contenedorBotones {

    padding-top: 2vh;

    padding-bottom: 4vh;

  }

  .botonAtajos {

    width: 60vw;

    height: 7vh;

  }

  #contenedorDiaMundialDeLaEstadistica {

    padding-top: 5vh;

    padding-bottom: 3vh;

  }

  #imagenDiaMundialDeLaEstadistica {

    height: 30vh;

    margin-left: 5vh;
    
  }

  #botonMostrarVariablesEconomicas, #botonMostrarPanelDeDatos {

    width: 45vw;

    padding-bottom: 1vh;

 }

 .imagenVariableEconomica {

    width: 45vw;
 }

  #contenedorFormularioVariablesEconomicas {

    padding-top: 7%;

    padding-bottom: 10%;

  }

  #formVariablesEconomicas {

    padding-top: 3%;

    padding-bottom: 7%;

 }

 /*---------------*/

  #contenedorDeMapaYGraficoDeVariablesEconomicas {

    padding-top: 12%;

    padding-bottom: 3%;

  }

  #mapaDeArgentina {

    height: 75vh;

    margin-left: 0%;

  }

  #contenedorLienzoDeMapa {

      display: none;
  }

  #portadaDeInformeSeleccionado {

    height: 30vh;

    margin-top: 4%;

    margin-left: 20%;

  }

  .iconoDeDescarga {

    width: 8%;

  }

  #botonDescargarInformeSeleccionado {

    width: 37vw;

    margin-left: 19%;

    font-size: 1.5rem;

  }

  .parrafoInforme {

    line-height: 50%;

    font-size: 1.5rem;

    margin-left: 19%;

  }

/*--------------------------*/
  .imagenInformeMensual {

    height: 30vh;
  }

  .parrafoInformeAnual {

    line-height: 20%;

    margin-left: 24%;

    font-size: 1.4rem;

  }

  #botonDescargarInformeMensual {

    width: 21vh;

    margin-left: 24%;

   font-size: 1.4rem;

  }

  .iconoDeDescargaInformeMensual {

    width: 13%;
  }

/*-----------------------------------------------------*/

  #contenedorCenso {

    padding-top: 7%;

    padding-bottom: 5%;

  }

  #contenedorFormularioCenso {

    width: 65vw;

  }

  .tarjetaCenso {

    height: 20vh;

    width: 30vw;

  }

  #mapaDeFormosa {

    height: 51vh;
    
  }

} /* fin @media (max-width: 720px)  */



@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  /* … */
  
  #membreteEncabezado {

    height: 5vh;  /*40px;*/

  }

  #iconoHome {

    height: 2.5vh ;

  }

  .fuenteLinkBarraDeInicio {

    font-size: 1.3em !important;

  }

 #carruselInicio {

   /* height: 675px;*/height: 91vh;
 }

 #carruselItem1 {

  background-size: cover;

  background-image: url('../imagenes/size-1366x768/carrusel-1366x768/carrusel-1-1366x768.jpg');

 }

 #carruselItem2 {

  background-size: cover;

  background-image: url('../imagenes/size-1366x768/carrusel-1366x768/carrusel-2-1366x768.jpg');

 }

 #carruselItem3 {

  background-size: cover;

  background-image: url('../imagenes/size-1366x768/carrusel-1366x768/carrusel-3-1366x768.jpg');

 }

 .membreteCarrusel {

    height: 6vh;
 }

 .tituloCarrusel {

    font-size: 3.5em;

 }

 .cajaTituloCarrusel {

    margin-top: 30%;

 }

  #contenedorVariablesEconomicas {

    padding-top: 2%;

    padding-bottom: 3%;

  }

  .tarjeta {

    height: 100%;

    width: 53%;
  }

  #contenedorBotones {

    padding-top: 2vh;

    padding-bottom: 4vh;

  }

  .botonAtajos {

    width: 35vw;

    height: 9vh;

  }

  #contenedorDiaMundialDeLaEstadistica {

  padding-top: 5vh;

  padding-bottom: 3vh;

 }

 #imagenDiaMundialDeLaEstadistica {

    height: 54vh;

    margin-left: 5vh;
 }

 #botonMostrarVariablesEconomicas, #botonMostrarPanelDeDatos {

    width: 25vw;

    padding-bottom: 1vh;

 }

 .imagenVariableEconomica {

    width: 25vw;
 }

 #contenedorFormularioVariablesEconomicas {

    padding-top: 5%;

    padding-bottom: 7%;
 }

 #formVariablesEconomicas {

    padding-top: 1%;

    padding-bottom: 2.2%;

 }

 /*---------------*/

  #contenedorDeMapaYGraficoDeVariablesEconomicas {

    padding-top: 3%;

    padding-bottom: 3%;

  }

  #mapaDeArgentina {

    height: 87vh;

    margin-left: 10%;

  }

  #contenedorLienzoDeMapa {

    width: 100vw !important;

  }

  #portadaDeInformeSeleccionado {

    height: 30vh;
  }

  .iconoDeDescarga {

    width: 8%;

  }

  #botonDescargarInformeSeleccionado {

    width: 10vw;

  }

  .parrafoInforme {

    line-height: 20%;
  }

/*--------------------------*/
  .imagenInformeMensual {

    height: 20vh;
  }

  .parrafoInformeAnual {

    line-height: 20%;

    margin-left: 45.2%;

  }

  #botonDescargarInformeMensual {

    width: 15vh;

    margin-left: 45%;

    font-size: 0.9rem;

  }

  .iconoDeDescargaInformeMensual {

    width: 13%;
  }

/*-----------------------------------------------------*/

  #contenedorCenso {

    padding-top: 5%;

    padding-bottom: 5%;

  }

  #contenedorFormularioCenso {

    width: 60vw;

  }

  .tarjetaCenso {

    height: 30vh;

    width: 13vw;

  }

  #mapaDeFormosa {

    height: 97vh;
    
  }

} /* fin @media (max-width: 1366px) */



@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  /* … */

  #membreteEncabezado {

    height: height: 5vh; /*40px;*/

  }

  #iconoHome {

    height: 2.5vh;

  }

  .fuenteLinkBarraDeInicio {

    font-size: 1.6em !important;

  }

 #carruselInicio {

    /*height: 798px;*/ height: 91vh;
 }

 #carruselItem1 {

  background-size: cover;

  background-image: url('../imagenes/size-1440x900/carrusel-1440x900/carrusel-1-1440x900.jpg');

 }

 #carruselItem2 {

  background-size: cover;

  background-image: url('../imagenes/size-1440x900/carrusel-1440x900/carrusel-2-1440x900.jpg');

 }

 #carruselItem3 {

  background-size: cover;

  background-image: url('../imagenes/size-1440x900/carrusel-1440x900/carrusel-3-1440x900.jpg');

 }

 .membreteCarrusel {

    height: 6vh;
 }

 .tituloCarrusel {

    font-size: 3.5em;

 }

 .cajaTituloCarrusel {

    margin-top: 30%;

 }

  #contenedorVariablesEconomicas {

    padding-top: 2%;

    padding-bottom: 3%;

  }

  .tarjeta {

    height: 100%;

    width: 53%;
  }

  #contenedorBotones {

    padding-top: 2vh;

    padding-bottom: 4vh;

  }

  .botonAtajos {

    width: 35vw;

    height: 9vh;

  }

  #contenedorDiaMundialDeLaEstadistica {

  padding-top: 5vh;

  padding-bottom: 3vh;

 }

 #imagenDiaMundialDeLaEstadistica {

    height: 45vh;

     margin-left: 10vh;
 }

 #botonMostrarVariablesEconomicas, #botonMostrarPanelDeDatos {

    width: 25vw;

    padding-bottom: 1vh;

 }

 .imagenVariableEconomica {

    width: 20vw;
 }

 #contenedorFormularioVariablesEconomicas {

    padding-top: 5%;

    padding-bottom: 7%;
 }

 #formVariablesEconomicas {

    padding-top: 1%;

    padding-bottom: 2.2%;

 }

 /*---------------*/

  #contenedorDeMapaYGraficoDeVariablesEconomicas {

    padding-top: 3%;

    padding-bottom: 3%;

  }

  #mapaDeArgentina {

    height: 87vh;

    margin-left: 10%;

  }

  #contenedorLienzoDeMapa {

    width: 100vw !important;

  }

  #portadaDeInformeSeleccionado {

    height: 30vh;
  }

  .iconoDeDescarga {

    width: 8%;

  }

  #botonDescargarInformeSeleccionado {

    width: 13vw;

  }

  .parrafoInforme {

    line-height: 20%;
  }

/*--------------------------*/
  .imagenInformeMensual {

    height: 20vh;
  }

  .parrafoInformeAnual {

    line-height: 20%;

    margin-left: 45.2%;

  }

  #botonDescargarInformeMensual {

    width: 15vh;

    margin-left: 45%;

  }

  .iconoDeDescargaInformeMensual {

    width: 13%;
  }

/*-----------------------------------------------------*/

  #contenedorCenso {

    padding-top: 5%;

    padding-bottom: 5%;

  }

  #contenedorFormularioCenso {

    width: 58vw;

  }

  .tarjetaCenso {

    height: 25vh;

    width: 12vw;

  }

  #mapaDeFormosa {

    height: 90vh;
    
  }

} /* fin @media (max-width: 1440px) */



@media only screen and (min-width: 1920px) {
  /* … */
  
  #membreteEncabezado {

    height: 5vh; /*40px;*/

  }

  #iconoHome {

    height: 2.3vh;

  }

  .fuenteLinkBarraDeInicio {

    font-size: 1.3rem !important;

  }

 #carruselInicio {

    /*height: 976px;*/

    height: 91vh;
 }

 #carruselItem1 {

  background-size: cover;

  background-image: url('../imagenes/size-1920x1080/carrusel-1920x1080/carrusel-1-1920x1080.jpg');

 }

 #carruselItem2 {

  background-size: cover;

  background-image: url('../imagenes/size-1920x1080/carrusel-1920x1080/carrusel-2-1920x1080.jpg');

 }

 #carruselItem3 {

  background-size: cover;

  background-image: url('../imagenes/size-1920x1080/carrusel-1920x1080/carrusel-3-1920x1080.jpg');

 }

 .membreteCarrusel {

    height: 6vh;
 }

 .tituloCarrusel {

    font-size: 4em;

 }

 .cajaTituloCarrusel {

    margin-top: 30%;

 }

 #contenedorVariablesEconomicas {

  padding-top: 2%;

  padding-bottom: 3%;

 }

 .tarjeta {

    height: 100%;

    width: 53%;
 }

 #contenedorBotones {

    padding-top: 2vh;

    padding-bottom: 4vh;

 }

 .botonAtajos {

    width: 25vw;

    height: 6vh;

 }

 #contenedorDiaMundialDeLaEstadistica {

  padding-top: 5vh;

  padding-bottom: 3vh;

 }

 #imagenDiaMundialDeLaEstadistica {

    height: 38vh;

    margin-left: 30vh;
 }

 #botonMostrarVariablesEconomicas, #botonMostrarPanelDeDatos {

    width: 20vw;

    padding-bottom: 1vh;

 }

 .imagenVariableEconomica {

    width: 20vw;
 }

 #contenedorFormularioVariablesEconomicas {

    padding-top: 5%;

    padding-bottom: 7%;
 }

 #formVariablesEconomicas {

    padding-top: 1%;

    padding-bottom: 2.2%;

 }
/*---------------*/

  #contenedorDeMapaYGraficoDeVariablesEconomicas {

    padding-top: 3%;

    padding-bottom: 3%;

  }

  #mapaDeArgentina {

    height: 87vh;

    margin-left: 20%;

  }

  #contenedorLienzoDeMapa {

    width: 100vw !important;

  }

  #portadaDeInformeSeleccionado {

    height: 30vh;
  }

  .iconoDeDescarga {

    width: 8%;

  }

  #botonDescargarInformeSeleccionado {

    width: 10vw;

  }

  .parrafoInforme {

    line-height: 20%;

  }

/*--------------------------*/
  .imagenInformeMensual {

    height: 20vh;
  }

  .parrafoInformeAnual {

    line-height: 20%;

    margin-left: 45.2%;

  }

  #botonDescargarInformeMensual {

    width: 15vh;

    margin-left: 45%;

  }

  .iconoDeDescargaInformeMensual {

    width: 13%;
  }

/*-----------------------------------------------------*/

  #contenedorCenso {

    padding-top: 5%;

    padding-bottom: 5%;

  }

  #contenedorFormularioCenso {

    width: 50vw;

  }

  .tarjetaCenso {

    height: 25vh;

    width: 10vw;

  }

  #mapaDeFormosa {

    height: 90vh;

  }

} /* fin @media (max-width: 1920px) */